@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.seller 
{
    padding: 100px;
}

.bestseller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sellerh2 {
    margin-top: 65px;
    margin-bottom: 20px;
}

.bestp1 {
    width: 250px;
    height: 370px;
    /* border: 2px solid black; */
}

.bestp1img {
    height: 250px;
    width: 250px;
}
.name{
    font-family: 'Acme', sans-serif;
    text-align: center;
}
.price {
    display: flex;
    justify-content: space-between;
}



 .addcart{
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #f05e8a;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    border: 1px solid #f05e8a;
    transition: 0.5s;
    font-family: 'Acme', sans-serif;
} 

.addcart:hover {
    background-color: white;
    font-weight: 600;
    color: #f05e8a;
    font-family: 'Acme', sans-serif;
}